@charset "utf-8";

body {
	background-color: #000;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	padding: 4px;
}

.mirror {
	width: 1072px;
	height: 1912px;
}

#content {
	position:relative;
	height: 100%;
}

#clock {
	width: 256px;
	height: 256px;
}

#time {
	width: 256px;
	text-align: center;
	font-size: 54px;
	margin-top: 5px;
}

#calendar {
	width: 256px;
	margin-top: 25px;
}

#calendar table {
	margin: 0 auto;
	border-spacing: 0px 2px;
	border-collapse: separate;
}

#calendar .month {
	text-align: center;
	font-size: 24px;
	padding-bottom: 8px;
}

#calendar th {
	border-bottom: 1px gray solid;
}

#calendar td, th {
	width: 32px;
	text-align: right;
	padding-right: 2px;
	font-size: 20px;
	vertical-align: middle;
}

#calendar .week {
	font-size: 12px;
	width: 14px;
	color: #cccccc;
	padding-right: 1px;
}

#calendar .today {
	border: thin solid white;
	width: 30px;
}

#weather {
	position: absolute;
	top: 0px;
	right: 0px;
}

#weather .row {
	width: 700px;
	text-align: right;
	margin-bottom: 20px;
}

#weather .col {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

#weather .right {
	text-align: right;
}

#weather .name {
	font-size: 28px;
}

#weather .desc {
	font-size: 24px;
}

#weather .temp {
	font-size: 54px;
	text-align: center;
}

#weather .wind-icon {
	width: 40px;
	height: 40px;
	text-align: center;
}

#weather .wind {
	font-size: 24px;
	text-align: center;
}

#weather .weather-icon {
	width: 100px;
	height: 100px;
}

#bottom {
	position: absolute;
	bottom: 48px;
	width: 800px;
	left: 50%;
	margin-left: -400px;
}

#file {
	font-size: 48px;
	white-space: pre-line;
	text-align: center;
	margin-bottom: 24px;
}

#slideshow img{
	width: 800px;
	height: 600px;
	object-fit: scale-down;
}

.gray {
	color: #888888;
}

#textbox {
	width: 600px;
	height: 250px;
	resize: none;
}

#box {
	width: 300px;
	height: 200px;
	background: gray;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	position: relative;
}

#box span {
	display: block;
}

#url {
	margin-top: 12px;
	margin-bottom: 24px;
}

#fileinput {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	opacity: 0;
	z-index: 1;
	width: 300px;
	height: 200px;
	overflow: hidden;
}

#progress{
	margin-top: 12px;
	width: 800px;
	height: 150px;
	overflow-y: auto;
}

.progressdiv {
	padding: 4px;
	border: thin white solid;
}

.progressname {
}

.progressbar {
	float: right;
}

.imagebox {
	position: relative;
	display: inline-block;
	width: 300px;
	height: 250px;
	margin-top: 12px;
	margin-right: 12px;
	border: thin solid gray;
}

.imagebox img {
	width: 300px;
	height: 250px;
	object-fit: cover;
}

.imagebox input {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 60px;
	height: 60px;
	
}

