@charset "utf-8";

body {
	background-color: #000;
	color: #FFF;
	font-family: 'Open Sans', sans-serif;
	padding: 4px;
	width: 1072px;
	height: 1912px;
}

#content {
	position:relative;
	height: 100%;
}

#clock {
	width: 256px;
	height: 256px;
}

#time {
	width: 256px;
	text-align: center;
	font-size: 54px;
	margin-top: 5px;
}

#calendar {
	width: 256px;
	margin-top: 25px;
}

#calendar table {
	margin: 0 auto;
	border-spacing: 0px 2px;
    border-collapse: separate;
}

#calendar .month {
	text-align: center;
	font-size: 24px;
	padding-bottom: 8px;
}

#calendar th {
	border-bottom: 1px gray solid;
}

#calendar td, th {
	width: 33px;
	text-align: right;
	padding-right: 2px;
	font-size: 20px;
	vertical-align: bottom;
}

#calendar .today {
	border: thin solid white;
}

#weather {
	position: absolute;
	top: 0px;
	right: 0px;
}

#weather .row {
	width: 700px;
	text-align: right;
	margin-bottom: 20px;
}

#weather .col {
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

#weather .right {
	text-align: right;
}

#weather .name {
	font-size: 28px;
}

#weather .desc {
	font-size: 24px;
}

#weather .temp {
	font-size: 54px;
	text-align: center;
}

#weather .wind-icon {
	width: 40px;
	height: 40px;
	text-align: center;
}

#weather .wind {
	font-size: 24px;
	text-align: center;
}

#weather .weather-icon {
	width: 100px;
	height: 100px;
}


#file {
	font-size: 48px;
	white-space: pre-line;
	position: absolute;
	bottom: 5%;
	width: 800px;
	left: 50%;
	margin-left: -400px;
	text-align: center;
}

.gray {
	color: #888888;
}

#textbox {
	width: 400px;
	height: 150px;
	resize: none;
}




